extend index

append title
  p about page

block append pageContent
  .container 
    form(action="", method="post")
      input(type="text") 
      input(type="password") 
      input(type="button")
      textarea(name="", cols="30", rows="10") 